.card {
  padding: 16px;
  width: 300px;
  margin: 16px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 8px;
}

.card-title {
  font-size: 1.5rem;
  margin: 8px 0;
}

.card-text {
  font-size: 1rem;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #dcd2ff;
}
