
.box {
    color: white;
    background-color: rgb(184, 128, 236);
    margin: 50px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 5px 10px;
    transition: all 0.3s ease;
}

.box2 {
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.card-image {
    margin: 20px;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .card-image {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0; 
    }

    .box {
        height: auto; 
        padding: 20px;
    }
    
    .box2 {
        margin: 20px 0;
    }
}
